.container {
  background-color: #f6f6f8;

  color: #0e1111;

  border-radius: 0.5rem;

  padding: 2rem;
}

.container:not(:last-child) {
  margin-bottom: 2rem;
}

.data {
  display: flex;
  align-items: center;
}

.data-icon {
  height: 1.5em;

  margin-right: 1rem;
}

.data-author {
  font-weight: 500;

  margin: 0;
}

.content {
  line-height: 1.5;

  margin: 0;
  margin-top: 1rem;
}
