.container {
  position: relative;

  height: 28em;
}

.image {
  border-radius: 0.5rem;
}

.content {
  position: absolute;

  bottom: 0;

  width: 100%;

  padding: 2rem;

  background: linear-gradient(
    0deg,
    rgba(14, 17, 17, 1) 0%,
    rgba(13, 14, 14, 0.5) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

.name,
.publisher-name,
.price {
  margin: 0;
}

.name,
.publisher-name {
  line-height: 1.5;
}

.name {
  font-weight: 700;

  margin-bottom: 0.5rem;
}

.publisher-name {
  font-weight: 500;

  margin-bottom: 1rem;
}

@media (min-width: 340px) {
  .content {
    padding: 3rem;
  }
}
