.container {
  background-color: #262828;

  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 2rem;
}

.item-list {
  background-color: #0e1111;

  height: calc(100% - (1.5em + 4rem));
  width: 100%;

  padding: 2rem;

  position: fixed;

  right: -150%;
  top: calc(1.5em + 4rem);

  transition: right 0.4s ease-in;
}

.item-list.show {
  right: 0;
}

.list-item:not(:last-child) {
  margin-bottom: 2rem;
}

.list-link {
  font-size: 1.5em;
  font-weight: 500;
}

.icon {
  height: 1.5em;

  width: auto;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;
  }

  .item-list {
    height: calc(100% - (1.5em + 6rem));

    padding: 3rem;

    top: calc(1.5em + 6rem);
  }
}

@media (min-width: 1200px) {
  .container {
    display: flex;

    justify-content: flex-start;

    margin: 0 auto;

    max-width: 120rem;
  }

  .title {
    margin-right: 3rem;
  }

  .item-list {
    background-color: transparent;

    display: flex;

    height: auto;
    width: auto;

    padding: 0;

    position: static;

    transition: none;
  }

  .list-item:not(:last-child) {
    margin: 0;
    margin-right: 2rem;
  }

  .list-link {
    font-size: 1em;
    font-weight: 500;
  }

  .icon {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 120rem;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 150rem;
  }
}
