.container {
  margin: 0 auto;
  padding: 2rem;

  max-width: 60rem;
}

.title {
  margin: 0;
  margin-bottom: 2rem;
}

.image {
  border-radius: 0.5rem;

  max-height: 45em;

  margin-bottom: 2rem;
}

.meta-container {
  display: flex;
  flex-wrap: wrap;

  gap: 2rem;
}

.meta-content {
  margin: 0;
  margin-top: 1.5rem;
}

.comment-list {
  margin: 2rem 0 0;
}

.comment-list-title {
  margin: 0;
  margin-bottom: 2rem;
}

@media (min-width: 340px) {
  .container {
    padding: 3rem;
  }
}
